{% extends 'myapp/layout3.html' %}
{% load static %}
{% block content %}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form id="login-form" class="form" method="post" action="{% url 'employee_registration' %}">
                <span class="login100-form-title p-b-33">
                    <h1><strong>Employee Registration Form </strong></h1>
                </span>
                {% csrf_token %}

                <table align="center">
                    {{ form2.as_p }}
                    </table>
                           
                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>
            </form>


{% endblock %}